@font-face {
    font-family: 'NeuzeitGro';
    src: url("fonts/NeuzeitGro-Bla.eot");
    /* IE9 Compat Modes */
    src: url("fonts/NeuzeitGro-Bla.eot?#iefix") format("embedded-opentype"), url("fonts/NeuzeitGro-Bla.woff") format("woff"), url("fonts/NeuzeitGro-Bla.ttf") format("truetype"), url("fonts/NeuzeitGro-Bla.svg#23af155783c667c9b3c267999f1f0b9a") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'NeuzeitGro-Reg';
    src: url("fonts/NeuzeitGro-Reg.eot");
    /* IE9 Compat Modes */
    src: url("fonts/NeuzeitGro-Reg.eot?#iefix") format("embedded-opentype"), url("fonts/NeuzeitGro-Reg.woff") format("woff"), url("fonts/NeuzeitGro-Reg.ttf") format("truetype"), url("fonts/NeuzeitGro-Reg.svg#23af155783c667c9b3c267999f1f0b9a") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    background-color: #FFF;
    font-family: Arial, sans-serif;
}

#container {
    position: absolute;
    width: 298px;
    height: 598px;
    border: 1px solid #909090;
    overflow: hidden;
}

#header {
    z-index: 1;
    margin-top: 20px;
    position: relative;
    left: 0;
    top: 189px;
    width: 100%;
    height: 216px;
    font-family: "NeuzeitGro", "Helvetica Neue", "Helvetica", sans-serif;
    opacity: 0;
}

.logo {
    position: relative;
    width: 134px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.logo img {
    background-color: #fff;
    border-radius: 81px;
}

#content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.productImg {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    bottom: 127px;
}

.productImg img {
    width: 226px;
}

.thumbnails {
    position: absolute;
    width: 236px;
    height: 97px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

#thumbnail1{
    background: rgb(186, 41, 41);
}

.txt {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 39px;
    line-height: 34px;
    padding: 21px;
    top: 226px;
    opacity: 0;
}

.headerThumb {
    font-family: "NeuzeitGro-Reg", "Helvetica Neue", "Helvetica", sans-serif;
    padding-top: 1px;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    cursor: pointer;
}

#headerThumb1{
    background: #f97b70;
}

.headerThumb:hover {
    color: #fff;
}

#bg_content1 {
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    position: absolute;
}

#arrows {
    position: absolute;
    bottom: 216px;
    left: 0px;
    display: inline-block;
    width: 300px;
}

.arrow_left img,
.arrow_right img {
    width: 59px;
}

.arrow_left {
    display: inline-block;
    cursor: pointer;
    opacity: .3;
}

.arrow_left:hover {
    opacity: 1;
}

.arrow_right {
    display: inline-block;
    float: right;
    cursor: pointer;
    opacity: .3;
}
.arrow_right:hover {
    opacity: 1;
}

.bg_1 {
    background: rgb(251, 109, 109);
    background: radial-gradient(circle, rgba(251, 109, 109, 1) 0%, rgba(154, 8, 8, 1) 100%);
}

#bg_content2 {
    top: 0;
    left: -300px;
    width: 300px;
    height: 600px;
    position: absolute;
}

.bg_2 {
    background: rgb(185, 179, 179);
    background: radial-gradient(circle, rgb(185, 179, 179) 0%, rgb(19, 18, 18) 100%);
}

#bg_content3 {
    top: 0;
    left: -300px;
    width: 300px;
    height: 600px;
    position: absolute;
}

.bg_3 {
    background: rgb(228, 223, 223);
    background: radial-gradient(circle, rgb(228, 223, 223) 0%, rgb(165, 138, 153) 100%);
}

#bg_content4 {
    top: 0;
    left: -300px;
    width: 300px;
    height: 600px;
    position: absolute;
}

.bg_4 {
    background: rgb(241, 231, 224);
    background: radial-gradient(circle, rgb(241, 231, 224) 0%, rgba(183, 154, 131, 1) 100%);
}

#intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    font-family: "NeuzeitGro", "Helvetica Neue", "Helvetica", sans-serif;
    background: rgb(251, 109, 109);
    background: radial-gradient(circle, rgba(251, 109, 109, 1) 0%, rgba(154, 8, 8, 1) 100%);
}

.txt2 {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 39px;
    line-height: 34px;
    padding: 34px;
    opacity: 0;
}

#slider {
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    position: absolute;
}
#thumbnail2 {
    background: rgb(92, 88, 88);
}

#headerThumb2 {
    background: #6c6868;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 135px;
    font-family: "NeuzeitGro-Reg", "Helvetica Neue", "Helvetica", sans-serif;
}

.img_radius {
    -webkit-box-shadow: 0px 0px 24px 9px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 24px 9px rgba(219, 215, 219, 1);
    box-shadow: 0px 0px 24px 9px rgb(255, 255, 255);
}

#productName {
    position: relative;
    text-align: center;
    font-size: 31px;
    color: #fff;
}

.card img {
    width: 55px;
}

.card {
  background: #d04040;
  /* background: #696666;*/
  /* background: #c5b5bc;*/
  /* background: #d0bbab;*/
  border-radius: 2px;
  display: inline-block;
  height: 66px;
  margin: 1rem;
  position: relative;
  width: 89%;
  overflow: hidden;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.right {
    position: absolute;
    width: 48%;
    display: inline-block;
    right: 0;
    top: 3px;
    text-align: center;
    margin-right: 3px;
    cursor: pointer;
}

.left {
    position: absolute;
    width: 49%;
    display: inline-block;
    left: 0;
    top: 3px;
    text-align: center;
    border-right: 1px solid #e85959;
    margin-left: 3px;
    cursor: pointer;
}

.left:hover,.right:hover {
    background: #ba2929;
}
.legal {
    position: absolute;
    top:35px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 9px;
    text-transform: uppercase;
    color:#000;
    cursor: pointer;
}

.legal:hover{
    color:#fff;
}

.details {
    position: absolute;
    left: 0;
    right: 0;
    top: 68px;
    width: 100%;
    height: 100%;
    background: #9a140e;
}
.details ul{
    padding: 7px 9px 9px 9px;
    display: block;
    color: #fff;
}
    
.details li{
    font-size: 8px;
}
    
.details p{
    position: absolute;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    left: 0;
    right: 0;
    margin: 5px 8px 0 8px;
    border-bottom: 1px solid #cd3e3f;
}

.clickbtn {
    z-index: 3;
    position: absolute;
    top: 213px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #ffffff;
    width: 124px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
}
